.box{
    display: flex;
}
.menu{
    background-color: rgb(107, 59, 67);
    display: flex;
    flex-direction: column ;
    width: 200px;
    margin-right: 20px;
}
.menu_item{
    padding: 30px;
    color: white;
}
.menu_item:hover{
    background-color:  rgb(185, 128, 138);
}
@media screen and (min-width:400px) and (max-width:700px){
    .box{
        flex-direction: column;
    }
    .menu{
        flex-direction: row;
        width: 100%;
    }
}
@media screen and (max-width:400px){
    .box{
        flex-direction: column;
    }
    .menu{
        justify-content: center;
        width: 100%;
    }
}